* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    overflow-x: hidden;
}

.map {
    top: 300px;
    text-align: center;
    left: 1000px;
    text-indent: 0px;
    text-align: center;
    position: fixed;
}

.AbtMain .h1 {
    top: 220px;
    text-align: left;
    left: 119px;
    text-indent: 150px;
    text-align: left;
    position: relative;
    overflow: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .p1 {
    overflow: hidden;
    top: 330px;
    width: 50%;
    text-align: left;
    left: 50px;
    right: 50px;
    text-align: justify;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 61, 58);
}

.AbtMain .img {
    position: relative;
    overflow: relative;
    top: 270px;
    left: 1100px;
}

.AbtMain .h2 {
    top: 450px;
    text-align: justify;
    left: 160px;
    right: 1000px;
    text-indent: 0px;
    position: relative;
    overflow: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .p2 {
    top: 481px;
    text-align: center;
    left: -480px;
    text-indent: 500px;
    text-align: justify;
    position: relative;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .h3 {
    top: 320px;
    text-align: justify;
    left: 700px;
    right: 100px;
    text-indent: 100px;
    position: relative;
    overflow: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .p3 {
    top: 352px;
    text-align: center;
    left: 150px;
    text-indent: 500px;
    text-align: justify;
    position: relative;
    overflow: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .h4 {
    top: 155px;
    text-align: justify;
    left: 1350px;
    right: 100px;
    text-indent: 100px;
    position: relative;
    overflow: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.AbtMain .p4 {
    top: 181px;
    text-align: center;
    left: 850px;
    text-indent: 500px;
    text-align: justify;
    position: relative;
    overflow: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(61, 28, 4);
}

.Home .h1 {
    display: block;
    top: 300px;
    text-align: center;
    left: 119px;
    text-indent: 200px;
    text-align: left;
    position: fixed;
    overflow: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration-style: solid;
    color: rgb(0, 0, 0);
}
.Home .img {
    width: 50%;
    top: 500px;
}














#billDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(155, 155, blue, alpha);
    top: 0px;
    left: 0px;
    z-index: 900;
}

#innerDiv {
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 500px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#innerTable, #alfaTab {
    width: 360px;
    left: 50%;
    text-align: center;
    border-collapse: collapse;
}

#innerTable tr td,
#innerTable tr th,
#alfTab tr td {
    border: 1px solid black;
}

#innerTableDiv {
    max-height: 265px;
    overflow-y: scroll;
}

#alfaTab {
    position: absolute;
    bottom: 10%;
    transform: translate(-50, -50%);
}

#goBack {
    left: 15px;
}

#goHome {
    right: 15px;
}